body {
  color: #2B2B2B;
  margin: 0px;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: .02em;
  line-height: 1.6em;
}

section {
  padding-top: 120px;
  width: 70%;
  margin: auto;
}

footer {
  font-size: 12px;
  padding: 20px 70px;
  float: right;
  clear: both;
}

a {
  color: #707070;
  text-decoration: none;
}

a:hover {i
  color: black;
  text-decoration: none;
  border-bottom: 4px solid #cae8dc;
}

#contactlink {
  color: black;
}

#contactlink:hover {
  color: black;
  text-decoration: none;
  border-bottom: none;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: grey;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #707070;
  transition-duration: .1s;
}

.container {
  width: 100%;
  border-radius: 5px;
  padding: 20px;
}

.contactinfo {
  width: 30%;
  padding: 20px;
  float: left;
}

/* Add a background color and some padding around the form */
.formsection {
  margin-top: 30px;
  width: 60%;
  float: left;
}

@media screen and (min-width: 960px) {

  header {
    box-sizing: border-box;
    width: 85%;
    margin: auto;
    font-size: 200%;
    text-align: left;
    padding-bottom: 5px;
    padding-top: 30px;
    clear: both;
  }

  h1 {
    float: left;
    font-family: gothic-open-shaded, sans-serif;
    font-weight: 400;
    /* can also take font-weight out */
    font-style: normal;
    font-size: 35px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
  }

  nav {
    padding-top: 20px;
    padding-left: 30px;
    float: left;
    text-transform: uppercase;
    font-size: 16px;
  }

  nav a {
      font-family: proxima-nova, sans-serif;
      margin: 0px 10px;
    }

  #floatleft {
    float: left;
    width: 70%;
  }

  #floatright {
    padding-top: 10px;
    float: right;
    width: 30%;
  }

  .description {
    padding-right: 30px;
    padding-top: 10px;
    clear: both;
    float: left;
    box-sizing: border-box;
    width: 55%;
  }

  .socials {
    width: 50%;
    float: right;
  }

  .icon {
    padding-left: 15px;
    width: 25px;
    float: left;
    padding-bottom: 50px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  #photoaside {
    float: left;
    box-sizing: border-box;
    padding-left: 70px;
    padding-top: 10px;
    width: 45%;
    padding-bottom: 60px;
  }

  #photoofbela {
    width: 350px;
    box-shadow: 16px 13px #cae8dc;
  }

}

/* @media screen and (max-width: 959px) {

  header {
    box-sizing: border-box;
    margin: 20px 0px;
    padding: 0px 70px;
    font-size: 200%;
    text-align: left;
    padding-bottom: 5px;
    padding-top: 30px;
    clear: both;
  }

  h1 {
    width: 700px;
    float: left;
    font-family: gothic-open-shaded, sans-serif;
    font-weight: 400;
    you can also take font-weight out
    font-style: normal;
    font-size: 65px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
  }

  nav {
    width: 600px;
    text-transform: uppercase;
    font-size: 20px;
    text-align: left;
    float: left;
  }

  nav a {
      margin: 0px 15px;
    }

  .description {
    padding: 0px 60px;
    padding-top: 10px;
    float: left;
    box-sizing: border-box;
    width: 100%;
  }

  .socials {
    padding-top: 20px;
  }

  .icon {
    padding-right: 10px;
    width: 20px;
    float: left;
    padding-bottom: 50px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  #photoaside {
    float: left;
    box-sizing: border-box;
    width: 100%;
    background-color: lightgrey;
  }

  #photoofbela {
    padding: 40px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
  }
}
